/* .sentence-container{
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
  border-radius: 25px;
  border: 2px solid black;
  justify-content: left;
  background-color: aliceblue;
}
.folder-contents-container{
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px; 
  background-color: thistle
}

.picture-card{
  border-radius: 25px;
  border: 2px solid grey;
  padding: 20px; 
  display: flex;
  justify-content: center;
  text-align: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.picture-card:hover {
  opacity: 0.7;
  background-color: grey
  
}
.picture-symbol {
  justify-content: center;
  text-align: center;
  max-height: 50%;
  background-color: white;
}

.folder-contents-container {
  display: flex;
  flex-wrap: wrap;
}

.container-cell {
  flex: 1;} */
