body > #root > div {
  height: 100%;
  width: 100%;
}

.long-segment {
  min-height: 5em !important;
  width: 90% !important;
}



.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  position: relative;
  display: inline-block;
  width: 6.25%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}
#speak-button {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
}

#speak-button:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

.ui.card {
  margin: 0em 0 !important;
  margin-bottom: 10px !important;
}

.ui.search {
  margin-top: 20px !important;
  padding-top: 5% !important;
  padding-left: 0%;
}
.ui.celled.grid {
  width: 100%;
  margin: -2em 0;
  -webkit-box-shadow: 0 0 0 1px #d4d4d5;
  box-shadow: 0 0 0 1px #d4d4d5;
}

.ui.relaxed.celled.grid > .row > .column {
  padding: 1em !important;
}

.search-api-bar {
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0.78571429em 2.1em 0.78571429em 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.3rem;
  -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  transition: box-shadow 0.1s ease, border-color 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (max-width: 600px) {
  .ui.card > .content,
  .ui.cards > .card > .content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    background: 0 0;
    margin: 0;
    padding: 0em 0em;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1.2em;
    border-radius: 0;
  }

  *,
  :after,
  :before {
    -webkit-box-sizing: unset;
  }
  .ui.grid>.row {

    padding-top: 0rem; 
    padding-bottom: 0rem;
   }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .ui.column.grid > [class*="two wide mobile"].column,
  .ui.grid > .column.row > [class*="two wide mobile"].column,
  .ui.grid > .row > [class*="two wide mobile"].column,
  .ui.grid > [class*="two wide mobile"].column {
    width: 40% !important;
  }
}

.ui.menu {
  margin: 0rem 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.labeled.icon.menu .item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.ui.grid {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}
.ui.button {
  margin: 0 0em 0 0;
  padding: 00.5em;
}

.ui.menu:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


